.inscription {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.column {
    flex-basis: 50%;
    flex-grow: 1;
    display: block;
    align-items: center;
}

.photo {
    position: relative;
    align-items: center;
}

.img-first {
    height: 80vh;
    width: auto;
}

.text-first {
    margin: 1rem 10%;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 10px;
}

.column-content {
    display: flex;
    justify-content: space-between;
}

.tarif-title {
    font-size: 3rem;
}

.tarif-hr {
    margin: 2rem;
}

.tarif-content {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.price {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.tarif-row {
    align-items: center;
    width: 100%;
}

.tarif-content {
    margin-bottom: 1rem;
    text-align: center;
}

.subscrib-btn {
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translateX(50%);
    border: 2px solid white;
    width: 30%;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    line-height: 100%;
    padding: 1.5rem 0;
}

.subscrib-btn:hover {
    background-color: #a9670a;
}


@media (max-width: 768px) {
    .img-first {
        margin-bottom: 2rem;
        width: 100%;
        object-fit: cover;
        object-position: center top;
        height: 70vh;
    }

    .container {
        flex-direction: column;
    }

    .column {
        flex-basis: 100%;
    }

    .photo {
        margin: 0%;
    }


    .subscrib-btn {
        width: 50%;
    }

    .text-first {
        margin: 0 5%;
    }
}

.title-services-section {
    margin: 2rem;
    font-size: 3rem;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
}

.master-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.services-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 1 1 50%;
}

.services-item {
    flex: 1 1 50%;
    padding: 10px;
}

@media (max-width: 800px) {
    .services-row{
        flex: 1 100%;
    }
}

