.newsletter {
    display: flex;
    flex-wrap: wrap;
}

.article-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.article {
    flex-basis: calc(100% / 3); /* Pour que chaque composant occupe 1/3 de la largeur */
    box-sizing: border-box;
    padding: 10px;
}

.article-container{
    min-height: 450px;
}

.article-newsletter{
    background-color: white;
}

@media screen and (min-width: 900px) {

    .article-row{
        width: 70%;
        margin: 0 auto;
    }
}


@media screen and (max-width: 899px) {

    .article {
        flex-basis: 100%;
    }
}

.article-title{
    color: black;
}
