.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 30px;
    background: #FFF;
    box-shadow: 0 5px 15px rgba(159, 159, 159, 0.5);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
}

.logo{
    color: white;
    justify-self: start;
    cursor: pointer;
}
img{
    width: 80px;
    height: auto;
    margin-top: 5px;
}


.fa-react{
    margin-left: 0.2rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
}

.nav-links{
    text-decoration: none;
    color: #000000;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i{
    padding-right: 10px;
    color: black;
}

.nav-links:hover{
    background: #e29c03;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.fa-bars, .fa-times{
    color: #000;
}

.menu-icons {
    display: none;
}

.nav-links-mobile{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    background-color: #007bff;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    margin: 0;
}

.btn{
    padding: 0.25rem 1rem;
    white-space: nowrap;
    background-color: #007bff;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 850px) {
    .NavbarItems{
        z-index: 99;
    }

    img{
        width: 80px;
        height: auto;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: rgb(255, 255, 255);
        box-shadow: 0 8px 32px 0 rgba(236, 240, 241, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 13px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }
    .nav-menu.active{
        left: 0;
    }

    .nav-links{
        display: block;
        padding: 2rem 0;
        color: #000;
    }

    .nav-links:hover{
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(20px);
    }
    .menu-icons {
        display: block;
    }

    .nav-links-mobile {
        padding: 1.5rem;
        display: block;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        width: 80%;
        margin: auto;

    }
    .btn{
        padding: 1.5rem;
        display: block;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        width: 80%;
        margin: auto;
    }
}