.article-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 150vh;
    margin: 1rem auto;
}

.article-wrapper {
    margin-bottom: 20px;
}

.article-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #b1b1b1;
    padding: 0.5rem;
    border-radius: 10px;
}

.article-title {
    font-size: 20px;
    color: black;
}

.article-date {
    font-size: 14px;
}
.article-createdAt{
    color: black;
}

.article-image {
    width: 100%;
    max-width: 75vh;
    height: auto;
    margin-bottom: 10px;
}

.article-content {
    text-align: left;
    color: black;
}
