*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  color: #ecf0f1;
  max-width: 100%;
}
body{
  background-color: black;
}

.App {
  text-align: center;
}
.contenu{
  margin-top: 100px;
  display: block;
  height: auto;
  width: auto;
}

input, select {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 100%;
  cursor: pointer;
  height: 23px;
}

.fa-pen {
  color: #007bff;
}

h1,h2,h3,h4,h5{
    font-family: Castoro Titling;
}






